{% extends 'base.html' %}

{% block header_content %}
    <div class="search__container">
        <form action="{% url 'main_page' %}" class="search__container-form">
            <input type="text" class="input__search-field" placeholder="Введіть назву товару..." name="search">
            <button type="submit" class="search__button"><img src="../static/img/svg/search.svg" alt="" class="search__button-img"></button>
        </form>
    </div>
{% endblock header_content %}

{% block content %}
    <main class="main item__page-main">
        <div class="wrapper">
            <h1 class="item-page__item__heading">{{ item.name }}</h1>
            <div class="item-page__item__content">
                <img src="../media/{{ item.image }}" alt="Item Image" class="item-page__item__img">
                <h1 class="item-page__item__heading__sm-screen">{{ item.name }}</h1>
                <div class="item__page__item__full-info" data-id="{{ item.id }}">
                    <div class="item-page__item__info">
                        <div class="item-page__item__desc">
                            <p class="item-page__item__desc-heading">Опис товару<span class="item-page__tick"></span></p>
                            <p class="item-page__item__desc-text">{{ item.description }}</p>
                        </div>
                        <div class="item-page__item__price">
                            <div class="item-page__item__price__info">
                                <p class="item-page__item__price-heading">Ціна: </p>
                                <p class="item-page__item__price-value"><span>{{ item.price }}</span> UAH</p>
                            </div>
                            <div class="item-page__item__available">
                                <p class="item-page__item__available-text">В наявності</p>
                            </div>
                        </div>
                        <div class="item-page__item__buttons">
                            <a href="{% url 'add_to_cart' item_id=item.id %}" class="item-page__add__to__cart">Додати до кошика</a>
                            <!-- <a href="{% url 'add_to_liked' item_id=item.id %}"> -->
                                <button class="item-page__add__to__liked {% if user.is_authenticated %}{% else %}open-modal{% endif %}"><img src="{% if item in liked_items %}../static/img/svg/heart_item-page-liked.svg{% else %}../static/img/svg/heart_item-page.svg{% endif %}" alt="" class="item-page-like"></button>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="item-page__item__advantages">
                        <div class="item-page__item__advantage item-page__shipping_adv">
                            <p class="item-page__item__adv-heading">Швидка доставка</p>
                            <p class="item-page__item__adv-text">Очікування замовлення займе не більше 3 діб.</p>
                        </div>
                        <div class="item-page__item__advantage item-page__secure_payment_adv">
                            <p class="item-page__item__adv-heading">Безпечна і зручна оплата</p>
                            <p class="item-page__item__adv-text">Visa, Mastercard, PayPal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/item_page.js"></script>
{% endblock scripts %}