{% extends 'base.html' %}

{% block header_content %}
    <div class="search__container">
        <form action="" class="search__container-form">
            <input type="text" class="input__search-field" placeholder="Введіть назву товару..." name="search">
            <button type="submit" class="search__button"><img src="../static/img/svg/search.svg" alt="" class="search__button-img"></button>
        </form>
    </div>
{% endblock header_content %}

{% block content %}
    <main class="main">
        <div class="wrapper">
            <h1 class="page__heading">Вподобані товари</h1>
            <p class="items__quanity">Всього: <span class="quantity-value">5</span></p>
            <div class="liked__items__container">
                <div class="main__item__card" >
                    <button class="main__like__item-button">
                        <img src="../static/img/svg/item_liked.svg" alt="like__item" class="like__item">
                    </button>
                    <button class="main__add-to-cart-button">
                        <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                    </button>
                    <div class="main__card__content" onclick="location.href='item_page.html';">
                        <div class="main__img__container">
                            <img src="../static/img/item_img.jpg" alt="item_img" class="main__item__img">
                        </div>
                        <div class="main__item__info">
                            <p class="main__item__name">Соєвий протеїн зі смаком шоколаду PowerPro 1000г</p>
                            <p class="main__item__cost">860 UAH</p>
                        </div>
                    </div>
                </div>
                <div class="main__item__card" >
                    <button class="main__like__item-button">
                        <img src="../static/img/svg/item_liked.svg" alt="like__item" class="like__item">
                    </button>
                    <button class="main__add-to-cart-button">
                        <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                    </button>
                    <div class="main__card__content" onclick="location.href='item_page.html';">
                        <div class="main__img__container">
                            <img src="../static/img/item_img.jpg" alt="item_img" class="main__item__img">
                        </div>
                        <div class="main__item__info">
                            <p class="main__item__name">Соєвий протеїн зі смаком шоколаду PowerPro 1000г</p>
                            <p class="main__item__cost">860 UAH</p>
                        </div>
                    </div>
                </div>
                <div class="main__item__card" >
                    <button class="main__like__item-button">
                        <img src="../static/img/svg/item_liked.svg" alt="like__item" class="like__item">
                    </button>
                    <button class="main__add-to-cart-button">
                        <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                    </button>
                    <div class="main__card__content" onclick="location.href='item_page.html';">
                        <div class="main__img__container">
                            <img src="../static/img/item_img.jpg" alt="item_img" class="main__item__img">
                        </div>
                        <div class="main__item__info">
                            <p class="main__item__name">Соєвий протеїн зі смаком шоколаду PowerPro 1000г</p>
                            <p class="main__item__cost">860 UAH</p>
                        </div>
                    </div>
                </div>
                <div class="main__item__card" >
                    <button class="main__like__item-button">
                        <img src="../static/img/svg/item_liked.svg" alt="like__item" class="like__item">
                    </button>
                    <button class="main__add-to-cart-button">
                        <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                    </button>
                    <div class="main__card__content" onclick="location.href='item_page.html';">
                        <div class="main__img__container">
                            <img src="../static/img/item_img.jpg" alt="item_img" class="main__item__img">
                        </div>
                        <div class="main__item__info">
                            <p class="main__item__name">Соєвий протеїн зі смаком шоколаду PowerPro 1000г</p>
                            <p class="main__item__cost">860 UAH</p>
                        </div>
                    </div>
                </div>
                <div class="main__item__card" >
                    <button class="main__like__item-button">
                        <img src="../static/img/svg/item_liked.svg" alt="like__item" class="like__item">
                    </button>
                    <button class="main__add-to-cart-button">
                        <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                    </button>
                    <div class="main__card__content" onclick="location.href='item_page.html';">
                        <div class="main__img__container">
                            <img src="../static/img/item_img.jpg" alt="item_img" class="main__item__img">
                        </div>
                        <div class="main__item__info">
                            <p class="main__item__name">Соєвий протеїн зі смаком шоколаду PowerPro 1000г</p>
                            <p class="main__item__cost">860 UAH</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/main.js"></script>
{% endblock scripts %}