{% extends 'base.html' %}

{% block header_content %}
    <div class="search__container">
        <form action="{% url 'main_page' %}" class="search__container-form">
            <input type="text" class="input__search-field" placeholder="Введіть назву товару..." name="search">
            <button type="submit" class="search__button"><img src="../static/img/svg/search.svg" alt="" class="search__button-img"></button>
        </form>
    </div>
{% endblock header_content %}

{% block content %}
    <main class="main">
        <div class="wrapper">
            <h1 class="page__heading">Вподобані товари</h1>
            <p class="items__quanity">Всього: <span class="quantity-value">5</span></p>
            <div class="liked__items__container">
                {% for liked_item in liked_items %}
                <div class="main__item__card" data-price="{{ item.price }}" data-id="{{ liked_item.id }}">
                    <button class="main__like__item-button">
                        <!-- <a href="{% url 'add_to_liked' item_id=liked_item.id %}"> -->
                            <img src="{% if liked_item in liked_items %}../static/img/svg/item_liked.svg{% else %}../static/img/svg/item_like.svg{% endif %}" alt="like__item" class="like__item">
                        <!-- </a> -->
                    </button>
                    <button class="main__add-to-cart-button">
                        <a href="{% url 'add_to_cart' item_id=liked_item.id %}" class="">
                            <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                        </a>
                    </button>
                    <div class="main__card__content">
                        <div class="main__img__container">
                            <img src="../media/{{ liked_item.image }}" alt="item_img" class="main__item__img">
                        </div>
                        <div class="main__item__info">
                            <a href="{% url 'product_page' item_id=liked_item.id %}">
                                <p class="main__item__name">{{ liked_item.name }}</p>
                            </a>
                            <p class="main__item__cost">{{ liked_item.price|floatformat:0  }} UAH</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="empty liked__items__container-no-items">
                    <h2 class="empty-message">У вас ще немає вподобаних товарів</h2>
                    <a class="empty-link" href="{% url 'main_page' %}">На головну сторінку</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/main.js"></script>
{% endblock scripts %}