{% extends 'base.html' %}

{% block header_content %}
    <div class="search__container">
        <form action="{% url 'main_page' %}" class="search__container-form">
            <input type="text" class="input__search-field" placeholder="Введіть назву товару..." name="search">
            <button type="submit" class="search__button"><img src="../static/img/svg/search.svg" alt="" class="search__button-img"></button>
        </form>
    </div>
{% endblock header_content %}

{% block content %}
    <main class="main__section-main__page">
        <!-- <div class="wrapper"> -->
            <div class="slider__full wrapper">
                <div class="slider__full-wrapper">
                    <div class="slide active__slide">
                        <div class="slide__container">
                            <img src="../static/img/slider-full-1.jpg" alt="tennis discount" class="slide__full-img">
                            <div class="slide__full-info">
                                <p class="slide__full-desc">Акція <span class="slider__bold-text">-20%</span> на товари для тенісу до кінця тижня</p>
                                <p class="slide__full-remark">*Категорія: Професійний спорт<br/>Підкатегорія: Теніс</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__container">
                            <img src="../static/img/slider-full-2.jpg" alt="carpet" class="slide__full-img">
                            <div class="slide__full-info">
                                <p class="slide__full-desc">Купуй коврик для фітнесу та отримуй поради щодо ефективного стречингу</p>
                                <p class="slide__full-remark">*до 29.05 включно</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__container">
                            <img src="../static/img/slider-full-3.jpg" alt="protein discount" class="slide__full-img">
                            <div class="slide__full-info-last">
                                <p class="slide__full-desc">Разом вигідніше!<br/>Купуй 100% Соєвий протеїн, ізолят та амінокислоти Optinum Nutrition та заощаджуй 600 грн</p>
                                <p class="slide__full-remark">*до 29.05 включно</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dots-wrapper">
                    <span class="dot active__dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        <!-- </div> -->
        <div class="search__container__sm-screen wrapper">
            <form action="{% url 'main_page' %}" class="search__container-form">
                <input type="text" class="input__search-field" placeholder="Введіть назву товару..." name="search">
                <button type="submit" class="search__button"><img src="../static/img/svg/search.svg" alt="" class="search__button-img"></button>
            </form>
        </div>
        {% if request.COOKIES.username %}
        <div class="wrapper">
            <p class="greeting-user">Вітаю, {{ request.COOKIES.username }}!</p>
        </div>
        {% endif %}
        <!-- active-category -->
        <!-- active-subcategory -->
        <div class="categories wrapper">
            <a href="{% url 'main_page' %}?category=1" class="category {% if active_category == '1' %}active-category{% endif %}" id="category-1">
                <div class="">
                    <img src="../static/img/category-1.png" alt="" class="category__icon">
                    <p class="category__name">Домашні тренування</p>
                </div>
            </a>
            <a href="{% url 'main_page' %}?category=2" class="category {% if active_category == '2' %}active-category{% endif %}" id="category-2">
                <div class="">
                    <img src="../static/img/category-2.png" alt="" class="category__icon">
                    <p class="category__name">Професійний спорт</p>
                </div>
            </a>
            <a href="{% url 'main_page' %}?category=3" class="category {% if active_category == '3' %}active-category{% endif %}" id="category-3">
                <div class="">
                    <img src="../static/img/category-3.png" alt="" class="category__icon">
                    <p class="category__name">Спортивне харчування</p>
                </div>
            </a>
        </div>
        {% if subcategories != '' %}
        <div class="subcategories wrapper">
            <ul class="subcategories__list">
                <li class="subcategory {% if not active_subcategory %}active-subcategory{% endif %}"><a href="{% url 'main_page' %}?category={{ active_category }}&subcategory=" class="subcategory__link">Все</a></li>
                {% for subcategory in subcategories %}
                <li class="subcategory {% if subcategory.id == active_subcategory %}active-subcategory{% endif %}"><a href="{% url 'main_page' %}?category={{ active_category }}&subcategory={{ subcategory.id }}" class="subcategory__link" id="subcategory-{{ subcategory.id }}">{{ subcategory.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="filters wrapper">
            <div class="price__sorting filter" >
                <p class="filter__name">Цінове сортування</p>
                <p class="filter__name-sm-screen">Сортування</p>
                <!-- <img src="./img/svg/arrow_down.svg" alt="" class="arrow__down-img"> -->
                <ul class="drop__down-list">
                    <li class="sort__option">
                        <label for="descending-order">
                            <input type="radio" id="descending-order" name="sort-orders" value="descending" hidden>
                            За спаданням
                        </label>
                    </li>
                    <li class="sort__option">
                        <label for="ascending-order">
                            <input type="radio" id="ascending-order" name="sort-orders" value="ascending" hidden>
                            За зростанням
                        </label>
                    </li>
                </ul>
            </div>
            <div class="producer__filtering filter">
                <p class="filter__name">Виробники</p>
                <div class="producer__filtering-container">
                    {% for producer in producers %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="producers__col">
                    {% endif %}
                        <div class="producer">
                            <label for="{{ producer.name }}" class="label__producer">{{ producer.name }}
                                <input id="{{ producer.name }}" type="checkbox" class="checkbox__producer" name="producer" value="{{ producer.name }}">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    {% if forloop.counter|divisibleby:2 or forloop.last %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="price__filtering filter">
                <p class="filter__name">Ціна</p>
                <form id="price-filtering-form" action="" class="price__filtering-form" method="POST">
                    {% csrf_token %}
                    <div class="input__fields">
                        <div class="field__container">
                            <label for="min__price"class="label__price__filter">Від</label>
                            <input id="min__price" type="text" class="price__filter-input" name="price__min">
                        </div>
                        <div class="field__container">
                            <label for="max__price"class="label__price__filter">До</label>
                            <input id="max__price" type="text" class="price__filter-input" name="price__max">
                        </div>
                    </div>
                    <button id="submit-price-filter-form" class="submit__price__filter-form">Застосувати</button>
                </form>
            </div>
        </div>
        <div class="items wrapper">
            <div class="items__container">
                {% for item in items %}
                    <div class="main__item__card" data-price="{{ item.price }}" data-id="{{ item.id }}">
                        <button class="main__like__item-button {% if user.is_authenticated %}{% else %}open-modal{% endif %}">
                            <img src="{% if item in liked_items %}../static/img/svg/item_liked.svg{% else %}../static/img/svg/item_like.svg{% endif %}" alt="like__item" class="like__item">
                        </button>
                        <button class="main__add-to-cart-button">
                            <a href="{% url 'add_to_cart' item_id=item.id %}" class="">
                                <img src="../static/img/svg/add-to-cart.svg" alt="add to cart" class="add_to_cart">
                            </a>
                        </button>
                        <div class="main__card__content">
                            <div class="main__img__container">
                                <img src="../media/{{ item.image }}" alt="item_img" class="main__item__img">
                            </div>
                            <div class="main__item__info">
                                <a href="{% url 'product_page' item_id=item.id %}">
                                    <p class="main__item__name">{{ item.name|truncatechars:54|default:'' }}</p>
                                </a>
                                <p class="main__item__cost">{{ item.price|floatformat:0  }} UAH</p>
                            </div>
                        </div>
                    </div>
                <!-- </a> -->
                {% empty %}
                <div class="empty items__container-no-items">
                    <h2 class="empty-message">Товарів за запитом не знайдено</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/main.js"></script>
{% endblock scripts %}