{% extends 'base.html' %}


{% block content %}
<div class="password_reset_block">
    <div class="modal-header">
        <h2 id="modal-title">Відновлення паролю</h2>
    </div>
    <form method="POST" class="login__form">
        {% csrf_token %}
        {% for field in form %}
        <p class="label__input">{{ field.label }}: {{ field }}</p>

        {% for error in field.errors %}
        <small>{{ error }}</small><br>
        {% endfor %}
        {% endfor %}
        <button class="enter-button" type="submit" id="reset">Змінити пароль</button>
    </form>
</div>
{% endblock content %}