@import url('https: //fonts.googleapis.com/css2?family=Playfair+Display: wght@400;500;600;700;800&display=swap');

.landing__wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		justify-content: space-between;
	}
}
.header__link {
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
}
.nav__links {
	&:last-child {
		margin-right: 0px;
	}
}
.landing__header__item {
	margin-right: 5.15vw;
	&:nth-child(4) {
		margin-right: 0;
	}
	&:last-child {
		margin-right: 0px;
	}
}
.hidden__link {
	display: none;
}
.landing__main {
	background-color: #D9D9D9;
}
.hero__section {
	background: url('../img/hero_img.jpg') no-repeat 80% 0;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.heading {
	padding-top: 22vh;
	width: 100%;
	margin-bottom: 2.5rem;
}
.heading__text {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3.563rem;
	color: rgba(255, 255, 255, 0.9);
	line-height: 4.75rem;
	font-weight: 700;
}
.hero__advantages__container {
	display: flex;
	background-color: rgba(217, 217, 217, 0.3);
	max-width: fit-content;
	border-radius: 15px;
	margin-bottom: 5.37vh;
	max-width: 51.81rem;
}
.hero__advantages-list {
	padding: 1.25rem;
	list-style: none;
    display: table;
}
.hero__adv-item {
	font-weight: 300;
	font-size: 2.25rem;
	line-height: 2.75rem;
	color: #fff;
    display: table-row;
	&::before {
		content: "•";
		font-size: 2rem;
		padding-right: 1rem;
        display: table-cell;
	}
}
.sub__heading__button {
	display: flex;
	justify-content: space-between;
}
.sub__heading {
	margin-bottom: 10.25rem;
	max-width: 53.625rem;
}
.sub__heading__text {
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.43rem;
	color: #FFFFFF;
	margin-bottom: 1.875rem;
	max-width: 48.75rem;
}
.sub__heading__mini {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #FFFFFF;
	display: inline;
}
.button__white {
	align-self: baseline;
	font-weight: 600;
	font-size: 2.125rem;
	line-height: 2.56rem;
	text-transform: uppercase;
	color: #0A0909;
	background-color: #FDFDFD;
	border: none;
	border-radius: 20px;
	padding: 0.64em 0.8em;
	margin-top: 2.7rem;
}
.learn__more {
	display: block;
	padding-bottom: 2.375rem;
	bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.learn__more-link {
	display: inline;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.375rem;
	color: #FFFFFF;
	padding: 12px 3rem 12px 0;
	background: url('../img/svg/arrow.svg') no-repeat right;
}
.items__info__section {
	background-color: #0C0C0C;
	padding: 7.68rem 0;
}
.items__info-heading {
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 2.75rem;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 5.187rem;
}
.about__items-img {
	border-radius: 5px;
}
.about__items-figure {
	position: relative;
	max-width: fit-content;
	margin-bottom: 2.125rem;
}
.about__items-caption {
	background: rgba(217, 217, 217, 0.7);
	font-size: 1.103rem;
	font-weight: 500;
	line-height: 1.625rem;
	color: #000000;
	padding: 1rem 0.75rem;
	width: 100%;
	position: absolute;
	bottom: 3px;
	right: 0%;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.items__info-heading-mobile {
	display: none;
}
.about__items-list {
	list-style: none;
}
.about__items-list-item {
	color: #fff;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.625rem;
	&::before {
		content: "•";
		font-size: 1.5rem;
		margin-right: 1rem;
	}
	&:not(:last-child) {
		margin-bottom: 0.7rem;
	}
}
.about__items-cards {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.advantages__section {
	background: url('../img/advantages_bg.jpg') no-repeat center;
	background-size: cover;
	min-height: 100vh;
	padding: 13.43rem 0 11.43rem 0;
}
.heading__advantages {
	margin-bottom: 7.125rem;
}
.heading__advantages-text {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.625rem;
    text-transform: uppercase;
	line-height: 4rem;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.advantages__cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}
.advantages__card {
	max-width: 21.06rem;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	margin-bottom: 2rem;
}
.adv__card-icon {
	padding: 1.875rem 6.75rem 2.68rem 6.75rem;
}
.adv__card-icon-mobile {
	display: none;
}
.adv__card-desc {
	font-weight: 700;
	font-size: 1.375rem;
	line-height: 2rem;
	text-align: center;
	color: #000000;
	padding: 0 2.1rem 1.9rem 2.1rem;
}
.adv__accent-text {
	color: #EF6501;
}
.sport__food__info {
	margin: 8.125rem 0;
}
.header__food {
	margin-bottom: 1.875rem;
	text-align: center;
}
.heading__food-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 2.574rem;
	line-height: 2.875rem;
	text-transform: uppercase;
}
.food__desc {
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.438rem;
	color: #000000;
	margin-bottom: 4.375rem;
	max-width: 65%;
	text-align: center;
	margin: 0 auto 4.563rem auto;
}
.to__catalogue {
	color: #000000;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 3.125rem;
	text-underline-offset: 7px;
	text-transform: lowercase;
	display: block;
	text-align: center;
}
.item__card {
	width: 210px;
	height: 290px;
	background: #fff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	button {
		z-index: 10;
	}
}
.card__content {
	display: flex;
	flex-direction: column;
}
.img__container {
	height: 180px;
	width: 180px;
	margin-bottom: 10px;
}
.item__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.like__item-button {
	cursor: pointer;
	background: none;
	border: none;
	position: absolute;
	top: 7px;
	right: 7px;
	width: 35px;
	height: 34px;
}
.add-to-cart-button {
	cursor: pointer;
	background: none;
	border: none;
	position: absolute;
	bottom: 7px;
	right: 7px;
}
.item__name {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3E3E3E;
	max-height: 55px;
	margin-bottom: 5px;
}
.item__cost {
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	color: #0A0909;
}
.slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 0 72px;
	margin: 0 auto 35px auto;
	z-index: 10;
	&::before {
		background-color: #D9D9D9;
		content: '';
		display: block;
		width: 72px;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 11;
	}
	&::after {
		background-color: #D9D9D9;
		content: '';
		display: block;
		width: 72px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 11;
	}
}
.slider__wrapper {
	display: flex;
	transition: transform 0.5s ease-in-out;
}
.card {
	flex: 0 0 25%;
	padding: 0 20px;
}
.prev-button, .next-button {
	background: transparent;
	border: none;
	z-index: 12;
}
.prev-button {
	position: absolute;
	top: 40%;
	left: 0%;
}
.next-button {
	position: absolute;
	transform: rotate(180deg);
	top: 40%;
	right: 0;
}
.shipping__info__section {
	padding: 8.875rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.shipping__heading {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 4rem;
	text-transform: uppercase;
	margin-bottom: 2.563rem;
}
.shipping__info {
	color: #000000;
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2.125rem;
	margin-bottom: 2.563rem;
}
.shipping__logo {
	max-width: 20rem;
	margin-right: 8.75rem;
	&:last-child {
		margin-right: 0;
	}
}
.why__we__section {
	background-color: #fff;
	padding: 6.75rem 0;
}
.why__we__heading {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 3rem;
	line-height: 4rem;
	text-transform: uppercase;
	color: #EF6501;
	text-align: center;
	margin-bottom: 5rem;
}
.why__we-accent {
	color: #EF6501;
}
.why_we-list__item {
	margin-bottom: 2rem;
	margin-left: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}
.why__we-list__item__text {
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.125rem;
	color: #000000;
}

@media screen and (max-width: 1390px){
    html{
        font-size: 0.7rem;
    }
    .advantages__cards{
        max-width: 80%;
        margin: 0 auto;
    }
    .footer__logo_big{
        max-width: 230px;
    }
}

@media screen and (max-width:1158px){
    .card {
        flex: 0 0 33.3%;
        padding: 0 10px;
    }
    .item__card{
        margin: 0 auto;
    }
    .landing__header__item{
        margin-right: 3.2vw;
    }
    .slider{
        max-width: 884px;
    }

    .learn__more{
        position: absolute;
        bottom: 3vh;
    }
    .advantages__section{
        min-height: fit-content;
    }
}

@media screen and (max-width: 946px){
    html{
        font-size: 0.7rem;
    }
    .advantages__cards{
        max-width: 98%;
    }
    .about__items-figure{
        max-width: 240px;
    }
    
    .hidden__link_active{
        display: block;
    }

    .header__burger{
        display: block;
    }
    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color:#090808;
        z-index: 10;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header__nav_active{
        transform: translateX(0);
    }

    .header__nav_active > .nav__links{
        display: block;
        font-size: 30px;
        transform: translateX(0);
    }
    .landing__header__item{
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
    }
    .header__item:last-child{
        margin-bottom: 0;
    }
    .header__nav-close{
        width: 40px;
        height: 22px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__burger-line-close{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
    }
    .header__burger-line-close:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__burger-line-close:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .sub__heading{
        margin-bottom: 3rem;
    }
    .sub__heading__button {
        display: block;
        padding-bottom: 9rem;
    }
    .button__white {
        display: block;
        margin: 0 auto;
        font-size: 3rem;
        line-height: 3.5rem;
    }
}
@media screen and (max-width: 854px){
    .card {
        flex: 0 0 50%;
        padding: 0 10px;
    }
    .slider{
        max-width: 616px;
    }
}

@media screen and (max-width: 756px){
    .about__items-card{
        max-width: 30%;
    }
    .advantages__card{
        max-width: 32%;
    }
    .adv__card-icon{
        padding: 2rem 5rem;
    }
}

@media screen and (max-width: 628px){
    .card {
        flex: 0 0 100%;
        padding: 0 10px;
        /* margin-right: 0;
        margin-bottom: 30px; */
    }
    .slider{
        max-width: 360px;
        padding: 0 50px;
    }

    .slider::before{
        width: 55px;
    }

    .slider::after{
        width: 55px;
    }
    .logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shipping__logo{
        margin: 0;
        margin-bottom: 5rem;
    }
    .shipping__logo:last-child{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 572px){
    .header__logo{
        max-width: 126px;
    }
    .heading__text{
        font-size: 2.5rem;
        line-height: 3.304rem;
    }
    .hero__adv-item{
        font-size: 1.429rem;
        line-height: 1.786rem;
    }
    .hero__advantages__container{
        margin-bottom: 5.893rem;
    }

    .sub__heading__button{
        display: block;
        padding-bottom: 6.964rem;
    }
    .button__white{
        display: block;
        margin: 0 auto;
        font-size: 1.607rem;
        line-height: 1.964rem;
    }
    .sub__heading{
        margin-bottom: 2.143rem;
    }
    .sub__heading__text{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.518rem;
    }
    .sub__heading__mini{
        display: none;
    }
    .learn__more{
        display: none;
    }

    .items__info__section{
        background-color: #D9D9D9;
        padding: 5.357rem 0;
    }
    .items__info-heading{
        display: none;
    }
    .items__info-heading-mobile{
        display: block;
        color: #000;
        font-weight: 600;
        font-size: 1.964rem;
        line-height: 2.411rem;
        text-align: center;
        margin-bottom: 3.571rem;
    }
    .about__items-cards{
        display: block;
    }
    .about__items-card{
        max-width: fit-content;
        margin: 0 auto 2.679rem auto;
        
    }
    .about__items-figure{
        width: 220px;
        margin-bottom: 0.893rem;
    }
    .about__items-list-item{
        color: #000;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.429rem;
        &:not(:last-child) {
            margin-bottom: 0.1rem;
        }
    }

    .advantages__section{
        background-image: none;
        padding: 8.571rem 6.696rem;
        background-color: #0F0F0F;
    }
    .heading__advantages{
        display: none;
    }
    .advantages__cards{
        display: block;
    }

    .advantages__card{
        border-radius: 0px;
        background-color: transparent;
        margin: 0 auto;
        max-width: fit-content;
        margin-bottom: 4.286rem;
    }
    
    .adv__card-icon{
        display: none;
    }

    .adv__card-icon-mobile{
        display: block;
        margin: 0 auto 10px auto;
    }

    .adv__card-desc{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.607rem;
        text-align: center;
        color: #fff;
        padding: 0;
    }

    .sport__food__info{
        margin: 6.696rem 0;
    }

    .header__food{
        margin-bottom: 3.482rem;
    }

    .header__food-text{
        font-size: 2.5rem;
        line-height: 2.857rem;
    }

    .rating__stars{
        max-width: 147px;
        margin: 0 auto;
    }

    .food__desc{
        font-size: 1.429rem;
        line-height: 1.786rem;
        max-width: 100%;
        margin-bottom: 4.286rem;
    }

    .slider{
        max-width: 360px;
        padding: 0 50px;
    }

    .slider{
        margin-bottom: 1.786rem;
    }
    .to__catalogue{
        font-size: 1.607rem;
        line-height: 1.964rem;
    }
    
    .shipping__info__section{
        padding: 6.696rem 0;
    }

    .shipping__heading{
        font-size: 2.5rem;
        line-height: 3.304rem;
        margin-bottom: 2.679rem;
    }

    .shipping__info{
        font-size: 1.429rem;
        line-height: 1.786rem;
        margin-bottom: 4.464rem;
    }

    .shipping__logo{
        max-width: 180px;
        margin: 0 auto 4.464rem auto;
    }
    .shipping__logo:last-child{
        margin: 0 auto;
    }


    .why__we__section{
        padding: 4.732rem 0;
    }

    .why__we__heading{
        font-size: 2.5rem;
        line-height: 3.304rem;
        margin-bottom: 2.232rem;
    }

    .why__we-list__item__text{
        font-size: 1.429rem;
        line-height: 1.786rem;
    }


    .footer{
        background-color: #090808;
        padding-top: 3.393rem;
    }
    .footer__info{
        margin-bottom: 2.768rem;
    }
    .footer__nav{
        margin-bottom: 3.393rem;
    }
    .footer__logo{
        margin-bottom: 2.768rem;
    }
    .footer__logo_big{
        max-width: 142px;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }
    .footer__nav-link{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.429rem;
    }
    .footer__info__list-item{
        margin-bottom: 0.446rem;
    }
    .footer__info__list-item_big_spacing{
        text-align: center;
    }
    .footer__info__heading{
        font-weight: 500;
        font-size: 1.429rem;
        line-height: 1.786rem;
        margin-bottom: 0.446rem;
    }
    .footer__info__text{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.429rem;
    }

    .social__media{
        margin-bottom: 3.393rem;
    }
    .social__icon{
        margin-right:0.714rem;
        width: 22px;
        height: 22px;
    }

    .social__media__title{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.429rem;
        width: 95px;
    }

    .footer__social-link{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.429rem;
    }

    .copyright{
        font-weight: 200;
        margin-top: 46px;
        font-size: 1.071rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 355px){
    .slider{
        padding: 10px;
    }
    .slider::before, .slider::after{
      width: 30px;
    }
    .next-button, .prev-button{
        width: 30px;
    }
    .hero__adv-item{
        font-size: 1.2rem;
    }
}